psycopg2-binary
fastapi
uvicorn[standard]
pydantic>=2.7
pydantic-settings>=2.2
python-dotenv
sqlalchemy>=2.0
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
aiofiles
numpy
scikit-learn
pennylane
